

h1 {
	color: blue;
}

img {
	width: 400px;
}

#thirdDiv {
	background-color: gray;
	width: 500px;
	height: 600px;
	padding: 50px;
	border: solid 3px #333;
}

.divClass {

}

#spanId {
	font-size: 18px;
	margin: 50px;
}